[oauth "google"]
clientId = ""
secretId = ""

[oauth "facebook"]
clientId = ""
secretId = ""

[database "production"]
connector = "mysql"
dns       = "username:password@tcp(hostname:3306)/database" 

[database "development"]
connector = "mysql"
dns       = "username:password@tcp(hostname:3306)/database" 

[domain "production"]
url = "https://www.colernio.com"

[domain "development"]
url = "http://localhost:3000"