<div class="row">
	<div class="col-md-4">
		<h4>New users</h4>
		<script src="//www.stathat.com/javascripts/embed.js"></script>
		<script>StatHatEmbed.render({s1: 'Jnsp', w: 210, h: 90, tf: 'day_compare', style: 'mini'});</script>
	</div>
</div>