<div class="row visible-xs-block margin-top-10"></div>
<table class="table table-condensed table-striped">
<tr>
	<th>Id</th>
	<th>Name</th>
	<th class="hidden-xs">Email</th>
	<th>First login</th>
	<th>Last login</th>
	<th>Is admin</th>
</tr>
{{ range $index, $profile := .Get "profiles" }}
<tr>
	<td>{{ $profile.ID }}</td>
	<td>{{ $profile.Name }}</td>
	<td class="hidden-xs">{{ $profile.Email }}</td>
	<td>{{ $profile.FormatedFirstLogin }}</td>
	<td>{{ $profile.FormatedLastLogin }}</td>
	<td>{{ if $profile.Admin }}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{ end }}</td>
</tr>
{{ end }}
</table>