<script src="//www.stathat.com/javascripts/embed.js"></script>

<div class="row">
	<div class="col-md-4">
		<h4>Number of requests</h4>
		<script>StatHatEmbed.render({s1: '7HG7', w: 210, h: 90, tf: 'day_compare', style: 'mini'});</script>
	</div>
	
	<div class="col-md-4">
		<h4>Avg. request response time</h4>
		<script>StatHatEmbed.render({s1: 'Izcv', w: 210, h: 90, tf: 'day_compare', style: 'mini'});</script>
	</div>
</div>

<div class="row margin-top-30">
	<div class="col-md-4">
		<h4>OAuth google logins</h4>
		<script>StatHatEmbed.render({s1: '04Ln', w: 210, h: 90, tf: 'day', style: 'mini'});</script>
	</div>
	
	<div class="col-md-4">
		<h4>OAuth facebook logins</h4>
		<script>StatHatEmbed.render({s1: '0kGG5', w: 210, h: 90, tf: 'day', style: 'mini'});</script>
	</div>
</div>