<div class="jumbotron">
    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor ornare nisl vel ultricies.</p>
</div>

<div class="container">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel 1</h3>
            </div>
            <div class="panel-body">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae purus
                    diam. Quisque sed pharetra ante. Quisque eros tellus, tincidunt ac arcu sit amet, dignissim gravida
                    lectus. Aliquam sodales congue lectus, eu volutpat enim congue ac. Suspendisse suscipit semper
                    augue.</p>
                <p><a class="btn btn-success pull-right" href="#">Link &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel 1</h3>
            </div>
            <div class="panel-body">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae purus
                    diam. Quisque sed pharetra ante. Quisque eros tellus, tincidunt ac arcu sit amet, dignissim gravida
                    lectus. Aliquam sodales congue lectus, eu volutpat enim congue ac. Suspendisse suscipit semper
                    augue.</p>
                <p><a class="btn btn-success pull-right" href="#">Link &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel 1</h3>
            </div>
            <div class="panel-body">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae purus
                    diam. Quisque sed pharetra ante. Quisque eros tellus, tincidunt ac arcu sit amet, dignissim gravida
                    lectus. Aliquam sodales congue lectus, eu volutpat enim congue ac. Suspendisse suscipit semper
                    augue.</p>
                <p><a class="btn btn-success pull-right" href="#">Link &raquo;</a></p>
            </div>
        </div>
    </div>

</div>
