<div class="container">
	{{ range $index, $err := .Get "errors" }}
	<pre class="bg-danger">{{ $err }}</pre>
	{{ end }}

	<div class="col-sm-4 col-sm-offset-4 login-buttons">
		<a class="btn btn-primary btn-block" href="/login/facebook" role="button">Sign in with Facebook</a>
		<a class="btn btn-danger btn-block" href="/login/google" role="button">Sign in with Google</a>
	</div>
</div>