<img src="{{.profile.Picture}}" style="width: 40px; float: left; margin-right: 10px" />
{{.profile.ID}}<br />
{{.profile.Name}}<br />
{{.profile.Email}}<br />
{{.profile.Profile}}<br />
{{.profile.GetCreationDate}}