<div class="col-md-2">
	<ul class="nav nav-pills nav-stacked menu-backend">
		<li {{if eq current "frontend/dashboard"}}class="active"{{end}}><a href="/user">Dashboard</a></li>
		<li {{if eq current "frontend/profile"}}class="active"{{end}}><a href="/user/profile">Profile</a></li>
	</ul>
</div>