<ul class="nav nav-pills nav-stacked">
	<li {{if eq current "backend/index"}}class="active"{{end}}><a href="/backend">home</a></li>
	<li {{if eq current "backend/profiles"}}class="active"{{end}}><a href="/backend/profiles">profiles</a></li>
</ul>