<ul class="nav nav-pills nav-stacked menu-backend">
	<li {{if eq current "backend/index"}}class="active"{{end}}><a href="/backend">Dashboard</a></li>
	<li {{if eq current "backend/profiles"}}class="active"{{end}}><a href="/backend/profiles">Profiles</a></li>
	<li {{if eq current "backend/stats"}}class="active"{{end}}><a href="/backend/stats">Stats</a></li>
</ul>