<nav class="fixed-navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ if .Get "profile" }}
      <a class="navbar-brand visible-xs-block" href="/profile"><img src="{{ (.Get "profile").Picture }}" width="30px" height="30px" /><span class="badge">{{ (.Get "profile").Unread }}</span></a>
      {{ else }}
      <a class="navbar-brand visible-xs-block" href="/login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
      {{ end }}
      <p class="navbar-text"><a href="/">Colernio</a></p>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {{if eq current "frontend/index"}}class="active"{{end}}><a href="/">Home</a></li>
        <li {{if eq current "frontend/item"}}class="active"{{end}}><a href="#">Item</a></li>
        <li {{if eq current "frontend/item"}}class="active"{{end}}><a href="#">Item</a></li>       
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	{{ if .Get "profile" }}
        <li><a href="/user">{{ (.Get "profile").Name }} <span class="badge">{{ (.Get "profile").Unread }}</span></a></li>
        {{ if (.Get "profile").Admin }}
        <li><a href="/backend">Backend</a></li>
        {{ end }}
        <li><a href="/logout">Logout &nbsp;<span class="glyphicon glyphicon glyphicon-off glyphicon-logout" aria-hidden="true"></span></a></li>
        {{ else }}
        <li><a href="/login">Login &nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
